__pycache__/
*.py[cod]
*.so
*.log

venv/
.venv/

.env

.vscode/
.idea/
*.swp

*.bak
*.tmp
*.pid
*.lock

.lgd-nfy0

*.jpg
*.png
*.mp4
*.wav
*.mp3

config.txt
cmdline.txt

*.gpio
*.dtbo
*.elf
*.bin

*~
*.old
*.orig

.DS_Store
Thumbs.db